/* This is the color palette. Use these as v=basic colors and add greys, whites and blacks as needed */
:root {
    --primary: white;
    --secondary: black;
    --accent:rgb(85, 15, 136);
}
body{
    background-color: rgb(235, 232, 232);
    padding: 50px 0px 0px 0px;
    z-index: 0;
    
}
p {
    margin-bottom: 0;
}
.register-btn:hover {
    border: 3px solid var(--primary);
    padding: 5px 20px 5px 20px;
    background-color: var(--primary);
    color: var(--accent);
    transition: all .4s ease;
}
span {
    padding: 5px 20px 5px 20px;
}
h2{
    font-weight: 800;
}
h5 {
    font-weight: 100;
    margin: 0;
}
.footer {
    background-color: rgb(194, 181, 184);
    margin: 0px auto;
    padding: 20px 0px; 
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; 
}
.tinted-image {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/website_bg.jpg);
    color: white;
    height: 400px;
  }
.cover-carousel-1 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-1.png);
    color: white;
    height: 400px;
}
.cover-carousel-2 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-2.png);
    color: white;
    height: 400px;
}
.cover-carousel-3 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-3.png);
    color: white;
    height: 400px;
}
.cover-carousel-4 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-4.png);
    color: white;
    height: 400px;
}
.cover-carousel-5 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-5.png);
    color: white;
    height: 400px;
}
.cover-carousel-6 {
    background-image:
    linear-gradient( to right,
    rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
      ),
      url(Assets/carousel-7.png);
    color: white;
    height: 400px;
}
.text-tinted-image {
    margin-top: 100px;
    text-align: center;
}
.blue-bg {
    background-color:var(--secondary) ;
    color: white;
    height: 400px;
    position: relative;
}
.text-blue-bg {
    margin-top: 100px;
    text-align: center;
}
.about-col {
    margin: 0;
}
.navbar-content {
    padding: 15px;
}
.container-1 {
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
    margin-top:0px;
}
.nav-items-content {
    color: rgb(41, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: small;
}
.nav-items-register {
    color: var(--accent);
    border: 0.5px solid var(--accent);
    margin-left: 20px;
}
.nav-items-register:hover {
    background-color: var(--accent);
    color: var(--primary);
    transition: all .4s ease;
}
.raising-bars {
    color: rgb(65, 64, 64); 
    font-weight: 500;
}
.para-home {
    color: rgb(65, 64, 64); 
    font-weight: 300;
}
.marquee-bg {
    background-color: var(--accent);
    color: white;
}
.aalap-heading {
    color: var(--accent); 
    border: 2px solid var(--accent);
}
.footer-link {
    color: black;
}
a{
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}


.achievements {
    text-align: center;
    margin-top: 0;
    
}

.title-achievements {
    text-shadow: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    
}


.content-achievements{
    align-content: center;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
}

.notable-content{
    align-content: left;
    margin-left:10%;
    margin-right:10%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.notable-content2{
    align-content: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.images{
    margin-left:20%; 
    margin-right:20%;
    text-align: center;
    align-content: center;
    size: 40%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

}

.image1{
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.imagehover:hover{
    background-color: white;
    transition-property: border;
    border: 5px solid;
    transition-duration: 0.2s;
    animation-name: content;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}



.card{
    box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);

    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}