/* This is the color palette. Use these as v=basic colors and add greys, whites and blacks as needed */
:root {
  --primary: white;
  --secondary: black;
  --accent:rgb(85, 15, 136);
}
body{
  background-color: rgb(235, 232, 232);
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
p {
  margin-bottom: 0;
}
.register-btn:hover {
  border: 3px solid var(--primary);
  padding: 5px 20px 5px 20px;
  background-color: var(--primary);
  color: var(--accent);
  transition: all .4s ease;
}
span {
  padding: 5px 20px 5px 20px;
}
h2{
  font-weight: 800;
}
h5 {
  font-weight: 100;
  margin: 0;
}
.footer {
  background-color: rgb(194, 181, 184);
  margin: 0px auto;
  padding: 20px 0px; 
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; 
}
.tinted-image {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/website_bg.jpg);
  color: white;
  height: 400px;
}
.cover-carousel-1 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-1.png);
  color: white;
  height: 400px;
}
.cover-carousel-2 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-2.png);
  color: white;
  height: 400px;
}
.cover-carousel-3 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-3.png);
  color: white;
  height: 400px;
}
.cover-carousel-4 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-4.png);
  color: white;
  height: 400px;
}
.cover-carousel-5 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-5.png);
  color: white;
  height: 400px;
}
.cover-carousel-6 {
  background-image:
  linear-gradient( to right,
  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    ),
    url(Assets/carousel-7.png);
  color: white;
  height: 400px;
}
.text-tinted-image {
  margin-top: 100px;
  text-align: center;
}
.blue-bg {
  background-color:var(--secondary) ;
  color: white;
  height: 400px;
  position: relative;
}
.text-blue-bg {
  margin-top: 100px;
  text-align: center;
}
.about-col {
  margin: 0;
}
.navbar-content {
  padding: 15px;
}
.container-1 {
  box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
}
.nav-items-content {
  color: rgb(41, 40, 40);
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: small;
}
.nav-items-register {
  color: var(--accent);
  border: 0.5px solid var(--accent);
  margin-left: 20px;
}
.nav-items-register:hover {
  background-color: var(--accent);
  color: var(--primary);
  transition: all .4s ease;
}
.raising-bars {
  color: rgb(65, 64, 64); 
  font-weight: 500;
}
.para-home {
  color: rgb(65, 64, 64); 
  font-weight: 300;
}
.marquee-bg {
  background-color: var(--accent);
  color: white;
}
.aalap-heading {
  color: var(--accent); 
  border: 2px solid var(--accent);
}
.footer-link {
  color: black;
}
a{
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}


















.jumbotron {
  color: rgb(250, 245, 250);
  background-image: linear-gradient(to right, rgb(85, 15, 136),rgb(78, 30, 112), rgb(10, 10, 10));
  padding: 70px 30px;
  margin: 0px auto;
}

.imagecontainer {
  position: relative;
  width: 50%;
  margin: 7px;
  align-items: center;
  padding: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  transition: .5s ease;
  backface-visibility: hidden;
  
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-40%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.imagecontainer:hover .image {
  opacity: 0.15;

}

.imagecontainer:hover .middle {
  opacity: 1;
}

.text {
  
  color:  #fcfbfd;
  font-size: 17px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  

 
}
.container-1 {
  box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
}
.logo{
  width: 150px;
  height:70px;
  box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 3px 12px 1px rgba(0,0,0,0.45);
  border-radius: 5px;
  margin: 15px;
}
.btn-mine{
  background-image: linear-gradient(to right, rgb(85, 15, 136),rgb(78, 30, 112), rgb(10, 10, 10));
  text-align: center;
  color:white;
  margin: 15px 15px 15px 15px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  font-style:inherit;
}
.fafa{
  color: rgb(10, 10, 10);
  font-size: 20px;
}
.h5head{
  text-decoration-color: rgb(85,15,136);
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
 
  color: white;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: cursive;
}
.hr{
  border: 10px solid rgb(245, 242, 242);
  background-color: white;
  
}
.rowback{
  background-color: black;

}
.col{
  align-items: center;
  justify-content: center;
}