h2{
    font-weight: 800;
}
h5 {
    font-weight: 100;
    margin: 0;

}

.bg1{
    background-color: rgb(235, 232, 232);
    box-shadow: 2px 3px 12px 1px #6610f2;
    -webkit-box-shadow: 2px 3px 12px 1px #6610f2;
    -moz-box-shadow: 2px 3px 12px 1px #6610f2;

 }
 .bg2{
    background-color: rgb(235, 232, 232);
    box-shadow: 2px 3px 12px 1px #6610f2;
    -webkit-box-shadow: 2px 3px 12px 1px #6610f2;
    -moz-box-shadow: 2px 3px 12px 1px #6610f2;

 }