*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    min-height: 50vh;
    display:contents;
    align-items: top;
    justify-content: right;
    background-color: #f1f1f1;
}
.about{
    background: url(aboutuspagepic.jpeg)no-repeat left;
    background-size: 70%;
    background-color:rgb(242, 239, 239);
    overflow: hidden;
    padding: 100px 0;
    background-position:left;
}
.inner-section{
    line-height: 190%;
    width: 60%;
    float: right;
    background-color: #ffffff;
    padding: 90px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 1000;
}
.text{
    font-size: 20px;
    color: #545454;
    line-height: 100px;
    text-align: justify;
    margin-bottom: 40px;
}
@media screen and (max-width:100px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:100px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:100px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    /* .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    } */
}